/* GERAL
=================================================================================================================================== */
/*div.container-fluid.row                                                         {background-color: #F8F8F8; color: white; height: 60px; border-color: #E7E7E7; border-style: solid; border-width: 1px;}*/
*                                                                               { margin: 0; padding: 0;-moz-box-sizing: border-box; -o-box-sizing: border-box;	-webkit-box-sizing: border-box;	box-sizing: border-box;}
h3                                                                              {font-size: 32px; margin-left:2%; padding-bottom: -10%; font-style: italic; font-weight: bold; color: #777777}
h1                                                                              {font-size: 32px; margin-left:2%; padding-bottom: -10%; font-style: italic; font-weight: bold; color: #FF4175}

/* COMO FUNCIONA
=================================================================================================================================== */
section.funcionamento.background                                                {position: relative; width: 100%; height: 350px; z-index: -1; margin: 0 0 0 0; background-image: url('../images/background_funcionamento_edit.jpeg'); background-size:cover;background-position: center right; background-repeat: no-repeat;}
section.funcionamento p.title_1                                                 {color: white;font-family: 'Helvetica', sans-serif; font-size:32px; }

section.funcionamento div.lateral_esquerda                                      {width:50%}
section.funcionamento p.title_2                                                 {color: white;font-family: 'Helvetica', sans-serif; font-size:18px; display: block;margin-top: 15%;}
section.funcionamento div.box                                                   {margin: 20px auto; width: 100%; height: 50px; display: block;}
section.funcionamento div.container-1                                           {width: 350px; vertical-align: middle; white-space: nowrap; position: relative;}
section.funcionamento div.container-1 input#search                              {width: 350px; height: 50px; background: #ffffff; border: none; font-size: 10pt; color: #63717f; padding-left: 45px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; display: block;}
section.funcionamento div.container-1 input#search::-webkit-input-placeholder   {color: #65737e;}
section.funcionamento div.container-1 input#search:-moz-placeholder             { /* Firefox 18- */ color: #65737e;}
section.funcionamento div.container-1 input#search::-moz-placeholder            { /* Firefox 19+ */ color: #65737e;}
section.funcionamento div.container-1 input#search:-ms-input-placeholder        {color: #65737e;}
section.funcionamento div.container-1 span.icon                                 {position: absolute; top: 50%; margin-left: 11px; margin-top: 0px; z-index: 1; color: #4f5b66; font-size: 22px;}

/* AVALIAÇÃO
=================================================================================================================================== */
section.avaliacao                                                               {display: block;}
section.avaliacao div.linha                                                       {display: flex;}
section.avaliacao img                                                           {width:100%; height:300px;}
section.avaliacao p.nome                                                        {font-size: 18px; font-weight: 400; color: black; width:90%;}
section.avaliacao p.nota_avaliacao                                              {font-size: 18px; font-weight: 400; color: #FF4175;}
section.avaliacao i                                                             {padding-right: 1px;}
section.avaliacao div.produto                                                   {width: 25%; margin: 1.5% 1.5% 1.5% 1.5%; border-right: 1px solid #E7E7E7; }
section.avaliacao label.title_3                                                 {font-size: 16px;}
section.avaliacao p.comentario                                                  {font-size: 14px;}

/* RESPONSIVO
=================================================================================================================================== */
@media screen and (max-width: 767px)                                            {section.avaliacao div.container-fluid.linha{display:inline-block;}
                                                                                section.avaliacao div.produto{width:100%;}
                                                                                section.avaliacao img{width: auto; left:50%;}
}
