/* GERAL
=================================================================================================================================== */
/*div.container-fluid.row                                                         {background-color: #F8F8F8; color: white; height: 60px; border-color: #E7E7E7; border-style: solid; border-width: 1px;}*/
*                                                                               { margin: 0; padding: 0;-moz-box-sizing: border-box; -o-box-sizing: border-box;	-webkit-box-sizing: border-box;	box-sizing: border-box;}
h3                                                                              {font-size: 32px; margin-left:2%; padding-bottom: -10%; font-style: italic; font-weight: bold; color: #777777}
h1                                                                              {font-size: 32px; margin-left:2%; padding-bottom: -10%; font-style: italic; font-weight: bold; color: #FF4175}

/* COMO FUNCIONA
=================================================================================================================================== */
section.banner.background                                                       {position: relative; width: 100%; height: 350px;  margin: 0 0 0 0; background-image: url('../images/background_funcionamento_edit.jpeg'); background-size:cover;background-position: center right; background-repeat: no-repeat;}
section.banner p.title_1                                                        {color: white;font-family: 'Helvetica', sans-serif; font-size:32px; }

section.banner div.lateral_esquerda                                      {width:50%;}
section.banner div.blocao                                                {width:400px; margin-top: 2.5%; border: 1px solid #DDDDDD; height: 245px; background: rgb(34,34,34); /* for IE */ background: rgba(34,34,34,0.75); z-index: 100; position: relative;}
section.banner p.title_2                                                 {color: white;font-family: 'Helvetica', sans-serif; font-size:18px; display: block;margin-top: 8%;}
section.banner p.title_3                                                 {color: white;font-family: 'Helvetica', sans-serif; font-size:18px; display: block;margin-top: 15%;}
section.banner div.box                                                   {margin: 20px auto; width: 100%; height: 50px; display: block; margin-left: 3%;}
section.banner div.container-1                                           {width: 350px; vertical-align: middle; white-space: nowrap; position: relative;}
section.banner div.container-1 input#search                              {width: 350px; height: 50px; background: #ffffff; border: none; font-size: 10pt; color: #63717f; padding-left: 45px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; display: block;}
section.banner div.container-1 input#search::-webkit-input-placeholder   {color: #65737e;}
section.banner div.container-1 input#search:-moz-placeholder             { /* Firefox 18- */ color: #65737e;}
section.banner div.container-1 input#search::-moz-placeholder            { /* Firefox 19+ */ color: #65737e;}
section.banner div.container-1 input#search:-ms-input-placeholder        {color: #65737e;}
section.banner div.container-1 span.icon                                 {position: absolute; top: 50%; margin-left: 11px; margin-top: 0px; z-index: 1; color: #4f5b66; font-size: 22px;}


input[type='radio']:after                                                       { width: 15px; height: 15px;  border-radius: 15px; top: -2px; left: -1px; position: relative; background-color: #fff; content: ''; display: inline-block; visibility: visible; border: 2px solid white;}
input[type='radio']:checked:after                                               { width: 15px; height: 15px; border-radius: 15px; top: -2px; left: -1px; position: relative; background-color: #111; content: ''; display: inline-block; visibility: visible; border: 2px solid white;}
section.produtos_por_categoria span.alternativa                                          { font-family: 'Helvetica'; color:white; font-weight: 500;}

/* AVALIAÇÃO
=================================================================================================================================== */
section.produtos_por_categoria                                                               {display: block;}
section.produtos_por_categoria div.linha                                                     {display: flex;}
section.produtos_por_categoria img                                                           {width:100%; height:300px;}
section.produtos_por_categoria p.nome                                                        {font-size: 18px; font-weight: 400; color: black; width:90%;}
section.produtos_por_categoria p.nota_avaliacao                                              {font-size: 18px; font-weight: 400; color: #FF4175;}
section.produtos_por_categoria i                                                             {padding-right: 1px;}
section.produtos_por_categoria div.produto                                                   {width: 25%; margin: 1.5% 1.5% 1.5% 1.5%; border-right: 1px solid #E7E7E7; }
section.produtos_por_categoria label.title_3                                                 {font-size: 16px;}
section.produtos_por_categoria p.comentario                                                  {font-size: 14px;}

/* RESPONSIVO
=================================================================================================================================== */
@media screen and (min-width: 770px)                                            {

}

@media screen and (min-width: 751px) and (max-width:850px)                      {section.avaliacao div.container-fluid.linha{display:inline-block;}
                                                                                section.avaliacao div.produto{width:100%;}
                                                                                section.avaliacao img{width: 100%; left:50%;}
                                                                                }

@media screen and (min-width: 630px) and (max-width:750px)                      {section.avaliacao div.container-fluid.linha{display:inline-block;}
                                                                                section.avaliacao div.produto{width:100%;}
                                                                                section.avaliacao img{width: 100%; left:50%;}
                                                                                }

@media screen and (min-width: 470px) and (max-width:629px)                      {section.avaliacao div.container-fluid.linha{display:inline-block;}
                                                                                section.avaliacao div.produto{width:100%;}
                                                                                section.avaliacao img{width: 100%; left:50%;}
                                                                                h1{font-size: 26px;}
                                                                                section.funcionamento p.title_1{font-size: 26px;}
                                                                                section.funcionamento p.title_2{font-size: 15px;}
                                                                                section.funcionamento p.title_3{font-size: 15px;}
                                                                                section.avaliacao p.nome{font-size: 15px;}
                                                                                section.avaliacao p.nota_avaliacao{font-size: 15px;}
                                                                                section.avaliacao p.comentario{font-size: 13px;}
																																								}

@media screen and (min-width: 350px) and (max-width:469px)                      {section.avaliacao div.container-fluid.linha{display:inline-block;}
                                                                                section.avaliacao div.produto{width:100%;}
                                                                                section.avaliacao img{width: 100%; left:50%;}
                                                                                h1{font-size: 22px;}
                                                                                section.funcionamento p.title_1{font-size: 22px;}
                                                                                section.funcionamento p.title_2{font-size: 13px;}
                                                                                section.funcionamento p.title_3{font-size: 13px;}
                                                                                section.avaliacao p.nome{font-size: 13px;}
                                                                                section.avaliacao p.nota_avaliacao{font-size: 13px;}
                                                                                section.avaliacao p.comentario{font-size: 12px;}
                                                                                section.funcionamento div.blocao{width:300px;margin-left: 5%;}
                                                                                section.funcionamento div.container-1 input#search{width: 250px; height: 40px;}
																																								}


@media (max-width:349px)                                                        {section.avaliacao div.container-fluid.linha{display:inline-block;}
                                                                                section.avaliacao div.produto{width:100%;}
                                                                                section.avaliacao img{width: 100%; left:50%;}
                                                                                h1{font-size: 18px;}
                                                                                section.funcionamento p.title_1{font-size: 18px;}
                                                                                section.funcionamento p.title_2{font-size: 12px;}
                                                                                section.funcionamento p.title_3{font-size: 12px;}
                                                                                section.avaliacao p.nome{font-size: 12px;}
                                                                                section.avaliacao p.nota_avaliacao{font-size: 12px;}
                                                                                section.avaliacao p.comentario{font-size: 11px;}
                                                                                section.funcionamento div.blocao{width:300px; margin-left: 5%;}
                                                                                section.funcionamento div.container-1 input#search{width: 250px; height: 40px;}
                                                                                }
