/* GERAL
=================================================================================================================================== */
/*div.container-fluid.row                                                         {background-color: #F8F8F8; color: white; height: 60px; border-color: #E7E7E7; border-style: solid; border-width: 1px;}*/
*                                                                               { margin: 0; padding: 0;-moz-box-sizing: border-box; -o-box-sizing: border-box;	-webkit-box-sizing: border-box;	box-sizing: border-box;}
h3                                                                              {font-size: 32px; margin-left:2%; padding-bottom: -10%; font-style: italic; font-weight: bold; color: #777777}
h1                                                                              {font-size: 32px; margin-left:2%; padding-bottom: -10%; font-style: italic; font-weight: bold; color: #FF4175}

/* MINHAS AVALIAÇÕES
=================================================================================================================================== */
img.imagem                                                                      {width:50px; height: 50px;}
span.fa.fa-plus                                                                 {font-size: 20px;}
span.fa.fa-times                                                                {font-size: 20px;}
span.table-remove                                                               {color: #700;cursor: pointer;}
span.table-remove:hover                                                         {color: #f00;}
span.table-add                                                                  {color: #2ecc71; cursor: pointer;}
span.table-add:hover                                                            {color: #0b0;}
th.t_imagem                                                                     {width:5%;}
th.t_nome                                                                       {width:33%;}
th.t_aval                                                                       {width:20%;}
th.t_comment                                                                    {width:33%;}
th.t_exclusao                                                                   {width:4.5%;}
th.t_adicao                                                                     {width:4.5%;}
i                                                                               {padding-right: 1px;}
td.nota_avaliacao                                                                {font-size: 18px; font-weight: 400; color: #FF4175;}
