/* GERAL
=================================================================================================================================== */
/*div.container-fluid.row                                                         {background-color: #F8F8F8; color: white; height: 60px; border-color: #E7E7E7; border-style: solid; border-width: 1px;}*/
*                                                                               { margin: 0; padding: 0;-moz-box-sizing: border-box; -o-box-sizing: border-box;	-webkit-box-sizing: border-box;	box-sizing: border-box;}
h3                                                                              {font-size: 32px; margin-left:2%; padding-bottom: -10%; font-style: italic; font-weight: bold; color: #777777}
h1                                                                              {font-size: 32px; margin-left:2%; padding-bottom: -10%; font-style: italic; font-weight: bold; color: #FF4175}

/* NAVEGAÇÃO
=================================================================================================================================== */
section.navegacao a.sera																												{margin-top: 5px; margin-bottom: -10px;}
section.navegacao div.btn_login_pos                                             {margin-right: 1%}
section.navegacao .dropdown-menu                                                {min-width: 200px;}
section.navegacao .dropdown-menu.columns-3                                      {min-width: 1000px;}
section.navegacao .dropdown-toggle                                              {font-size: 16px; margin-top: 5px; margin-bottom: -10px;}
section.navegacao .dropdown-menu li.title                                       {font-weight: bold;}
section.navegacao .dropdown-menu li a.subsecao                                  {padding: 5px 15px;	font-weight: 300;}
section.navegacao .multi-column-dropdown                                        {list-style: none; }
section.navegacao .multi-column-dropdown li a.subsecao                          {display: block; width: 260px; clear: both; line-height: 1.428571429; color: #333; white-space: normal;}
section.navegacao .multi-column-dropdown li a.subsecao:hover                             {text-decoration: none;	color: #262626;	background-color: #f5f5f5;}
section.navegacao a.navbar-brand                                                {width: 105px; padding-top: 5px;}
section.navegacao .navbar-default .navbar-nav>li>a.subsecao                     {margin-left: -20px;}
section.navegacao ul.btn                                                        {margin: 5px 10% -2px 0; text-align: center;}
section.navegacao i.usuario																											{font-size: 34px; float: left; color: black; margin-right: 5%;}
section.navegacao ul.btn a.loginU																								{list-style: none; text-decoration: none; font-weight: 700; font-size: 14px; padding:0; text-align: left; margin-left: 45%; color: black;}
section.navegacao ul.btn span.loginU  																					{list-style: none; text-decoration: none; font-weight: 700; font-size: 14px; padding:0; text-align: left; margin-left: 0%; color: black;}
section.navegacao ul.btn a.cadastroU 																						{list-style: none; text-decoration: none; font-size: 12px; padding:0;text-align: left;  margin-left: 45%;}
section.navegacao ul.btn a.logoutU   																						{list-style: none; text-decoration: none; font-size: 12px; padding:0;text-align: left;  margin-left: 0%;}





section.navegacao li.botoes                                                     {list-style: none;position: relative; display: inline-block;width: 180px; height: 60px;}
@-moz-keyframes rotate                                                          {0% {transform: rotate(0deg);} 100% {transform: rotate(-360deg);}}
@-webkit-keyframes rotate                                                       {0% {transform: rotate(0deg);} 100% {transform: rotate(-360deg);}}
@-o-keyframes rotate                                                            {0% {transform: rotate(0deg);} 100% {transform: rotate(-360deg);}}
@keyframes rotate                                                               {0% {transform: rotate(0deg);} 100% {transform: rotate(-360deg);}}
section.navegacao a.round                                                       {display: block;position: absolute;left: 0;top: 0;width: 65%;height: 65%;	text-decoration: none;text-align: center;font-size: 16px;text-shadow: 0 1px 0 rgba(255,255,255,.7);		letter-spacing: -.065em;
		font-family: "Helvetica", sans-serif;
		-webkit-transition: all .25s ease-in-out;	-o-transition: all .25s ease-in-out;-moz-transition: all .25s ease-in-out;transition: all .25s ease-in-out; box-shadow: 2px 2px 7px rgba(0,0,0,.2); border-radius: 200px;	z-index: 1;	border-width: 2px;border-style: solid;}

section.navegacao a.round:hover                                                 {
		width: 130%; height: 130%; left: -15%; top: -15%;	font-size: 33px;	padding-top: 20px;	-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);	-o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		-moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);	box-shadow: 5px 5px 10px rgba(0,0,0,.3);	z-index: 2;	border-size: 10px;	-webkit-transform: rotate(-360deg);	-moz-transform: rotate(-360deg);	-o-transform: rotate(-360deg);	transform: rotate(-360deg);
	}
section.navegacao a.red                                                         {background-color: rgba(239,57,50,1); color: white; border-color: rgba(133,32,28,.2); padding-top: 10px;}
section.navegacao a.red:hover                                                   {color: rgba(239,57,50,1);}
section.navegacao a.green                                                       {background-color: #2ecc71; color: white ;border-color: rgba(0,63,71,.2); padding-top: 10px;}
section.navegacao a.green:hover                                                 {color: rgba(1,151,171,1);}
section.navegacao a.round span.round                                            {display: block;	opacity: 0;-webkit-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;-o-transition: all .5s ease-in-out;	transition: all .5s ease-in-out;font-size: 1px;	border: none; padding: 0% 5% 0 5%;	color: #fff;}
section.navegacao a.round span:hover                                            {opacity: .85;font-size: 16px;-webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);-moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);-o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
text-shadow: 0 1px 1px rgba(0,0,0,.5);}
section.navegacao a.green span                                                  {background: rgba(0,63,71,.7);}
section.navegacao a.red span                                                    {background: rgba(133,32,28,.7);}


/* RODAPÉ
=================================================================================================================================== */

section.rodape footer                                                           {position: relative; display: block; justify-content: space-between; height: 40px; background-color: #F8F8F8; color: white; width: 100%; margin: 0; border-color: #E7E7E7; border-style: solid; border-width: 1px;}
section.rodape p.footer                                                         {color: #777777; text-align: center; padding-bottom: 10px; width: 100%; padding-top: 9px;}



/* RESPONSIVO
=================================================================================================================================== */
@media screen and (min-width: 770px)                                            {

}

@media screen and (min-width: 751px) and (max-width:850px)                      {.dropdown-menu.multi-column {min-width: 240px !important; overflow-x: hidden;}
                                                                                section.navegacao ul.btn{float:left; margin: 0 0 0 43%; position: absolute;}
                                                                                }

@media screen and (min-width: 630px) and (max-width:750px)                      {.dropdown-menu.multi-column {min-width: 240px !important; overflow-x: hidden;}
                                                                                section.navegacao ul.btn{float:left; margin: -6.5% 0 0 43%; position: absolute;}
																																								}

@media screen and (min-width: 470px) and (max-width:629px)                      {.dropdown-menu.multi-column {min-width: 240px !important; overflow-x: hidden;}
                                                                                section.navegacao ul.btn{float:left; margin: -9.5% 0 0 43%; position: absolute;}
																																								section.rodape footer{height: 56px;}
																																								}

@media screen and (min-width: 350px) and (max-width:469px)                      {.dropdown-menu.multi-column {min-width: 240px !important; overflow-x: hidden;}
                                                                                section.navegacao ul.btn{float:left; margin: -12.5% 0 0 35%; position: absolute;}
																																								section.rodape footer{height: 56px;}
																																								section.navegacao a.navbar-brand{font-size: 14px; margin-left: -5%}
																																								}


@media (max-width:349px)                                                        {.dropdown-menu.multi-column {min-width: 240px !important; overflow-x: hidden;}
                                                                                section.navegacao ul.btn{float:left; margin: -15.5% 0 0 25%; position: absolute;}
																																								section.rodape footer{height: 72px;}
																																								section.rodape footer{height: 56px;}
																																								section.navegacao a.navbar-brand{font-size: 14px; margin-left: -5%}
                                                                                }
