<link rel="stylesheet" href="css/custom_cadastro_produto.css">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Palanquin|Roboto|Roboto+Slab|Helvetica|Merryweather|Playfair+Display|Poppins|Quicksand|Varela+Round|Hammersmith+One" rel="stylesheet">
<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">


<div class="form-group bloco">

<form name="cadProd">
  <a ui-sref="painel_usuario"><i class="fa fa-backward"></i></a> <label>Novo Produto </label>
  <select name="categoria" class="form-control" ng-model="dados.categoria" ng-options="categoria.categoria for categoria in categorias" placeholder="Escolha uma Categoria...">  </select>
  <input type="text" name="nomeProd" class="form-control" placeholder="Digite o Nome e Marca do Produto.." ng-model= 'dados.nomeProd' required>
  <span ng-show="cadProd.nome.$touched && cadProd.nomeProd.$invalid">Preenchimento obrigatório</span>
  <input name="imagem" type="url" class="form-control" placeholder="Foto | URL" ng-model="dados.imagem" required>
  <span ng-show="cadProd.imagem.$touched && cadProd.imagem.$invalid">Preenchimento obrigatório</span>

</form>

  <button class="botao_cadastro" ng-disabled="cadProd.categoria.$invalid || cadProd.nome.$invalid || cadProd.imagem.$invalid" ng-click="cadastrar_produto()"> Cadastrar Produto </button>

</div>
