<link href="../css/custom_login.css" rel="stylesheet">
<section class="login_principal container">
  <div class="form-group">
    <label>E-Mail</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite aqui seu E-Mail..." ng-model="dados.email">
  </div>

  <div class="form-group">
    <label>Senha</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite aqui sua senha..." ng-model="dados.senha">
  </div>

<button class="botao_cadastro" ng-click="login()"> Login </button>
</section>
