<link rel="stylesheet" href="css/custom_minhas_avaliacoes.css">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Palanquin|Roboto|Roboto+Slab|Helvetica|Merryweather|Playfair+Display|Poppins|Quicksand|Varela+Round|Hammersmith+One" rel="stylesheet">
<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

<!-- ************************* Início ********************************-->
<label>Lista de Análises</label> <a ui-sref="painel_usuario"><i class="fa fa-backward"></i></a>

<table>
        <tr>
          <th class="t_imagem"></th>
          <th class="t_nome">Nome</th>
          <th class="t_aval">Avaliação</th>
          <th class="t_comment">Comentário</th>
          <th class="t_exclusao"></th>
          <th class="t_adicao"><a ui-sref="cadastro_review"><span class="table-add fa fa-plus"></span></a></th>
        <tr ng-repeat="review in reviews" ng-if="review.usuario_uid==usuario.uid && admin==false ">

            <td> <img class="imagem" ng-src="{{review.imagem}}"></td>
            <td class="nome">{{review.nome}}</td>
            <!-- <td class="score">{{review.score}}</td> -->
            <td class="nota_avaliacao"><i class="fa fa-heart" aria-hidden="true" ng-show="{{review.score}}>='1'"></i><i class="fa fa-heart" aria-hidden="true" ng-show="{{review.score}}>='2'"></i><i class="fa fa-heart" aria-hidden="true" ng-show="{{review.score}}>='3'"></i><i class="fa fa-heart" aria-hidden="true" ng-show="{{review.score}}>='4'"> </i><i class="fa fa-heart" aria-hidden="true" ng-show="{{review.score}}>='5'"></i> </td>
            <td class="comentario">{{review.comment}}</td>
            <td><span class="fa fa-times table-remove" ng-click="excluir(review)"></span></td>
            <td></td>

        </tr>
        <tr ng-repeat="review in reviews" ng-if="admin==true ">

            <td> <img class="imagem" ng-src="{{review.imagem}}"></td>
            <td class="nome">{{review.nome}}</td>
            <!-- <td class="score">{{review.score}}</td> -->
            <td class="nota_avaliacao"><i class="fa fa-heart" aria-hidden="true" ng-show="{{review.score}}>='1'"></i><i class="fa fa-heart" aria-hidden="true" ng-show="{{review.score}}>='2'"></i><i class="fa fa-heart" aria-hidden="true" ng-show="{{review.score}}>='3'"></i><i class="fa fa-heart" aria-hidden="true" ng-show="{{review.score}}>='4'"> </i><i class="fa fa-heart" aria-hidden="true" ng-show="{{review.score}}>='5'"></i> </td>
            <td class="comentario">{{review.comment}}</td>
            <td><span class="fa fa-times table-remove" ng-click="excluir(review)"></span></td>
            <td></td>

        </tr>
</table>

</section>
